@charset "UTF-8";

@media screen and (min-width:380px) and (max-width: 992px){
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        background-color: bisque;
        height: fit-content;
        width: 100vw;
    
        display: flex;
        align-items: center;
        flex-flow: column nowrap;
        justify-content: flex-start;
    }
    
    /* estilo do menu */

    menu {
        width: 100vw;
        height: 50px;
    
        display: flex;
        align-items: center;
        flex-flow: row nowrap;
        justify-content: flex-end;
        background-color: rgba(0, 0, 0, 0.264);
    
        position: sticky;
        top: 0;
    }
    menu ol {
        display: none;
    }
    .material-symbols-outlined {
        margin-right: 30px;
    }
    .material-symbols-outlined:hover {
        cursor: pointer;
    }

    /* estilo da main */

    main {
        width: 85%;
        margin-top: 50px;
        height: fit-content;

        display: flex;
        align-items: center;
        flex-flow: column nowrap;
        justify-content: space-evenly;
        
    }

    /* estilo da Div das informacoes do escritor */

    #infoDiv {
        width: 400px;
        height: 150px;
        border-radius: 10px;
        border: 1px solid black;

        display: flex;
        align-items: center;
        flex-flow: row nowrap;
        justify-content: space-around;
    }

    /* estilo da imagem do escritor*/

    #imageProfileDiv {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: blue;
    }

    /* estilo da Div da bio do escritor*/

    #textInfoDiv {
        width: 200px;
        height: 100px;
        padding: 10px;
    }

    /* estilo da tag do artigo*/

    article {
        width: 95%;
        margin: 50px;
        padding: 20px;
        height: fit-content;
        border-radius: 10px;
        border: 1px solid black;
    }
    #tituloArtigo {
        font-size: 2em;
    }
    article p {
        margin-top: 10px;
        text-indent: 30px;
        text-align: justify;
        font-size: 20px;
    }
}
