@charset "UTF-8";

@media screen and (min-width:380px) and (max-width: 992px){
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        background-color: bisque;
        height: 800px;
        width: 100vw;
    
        display: flex;
        align-items: center;
        flex-flow: column nowrap;
        justify-content: flex-start;
    }
    
    /* estilo do menu */

    menu {
        width: 100vw;
        height: 50px;
    
        display: flex;
        align-items: center;
        flex-flow: row nowrap;
        justify-content: flex-end;
        background-color: rgba(0, 0, 0, 0.264);
    
        position: sticky;
        top: 0;
    }
    menu ol {
        display: none;
    }
    .material-symbols-outlined {
        margin-right: 30px;
    }
    .material-symbols-outlined:hover {
        cursor: pointer;
    }

    /* estilo da main */

    main {
        background-color:white ;
        width: 460px;
        height: 950px;

        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: space-evenly;

    }

    /* estilo da Div das informacoes do escritor */

    #infoDiv {
        background-color: red;
        height: 150px;
        width: 400px;

        display: flex;
        align-items: center;
        flex-flow: row nowrap;
        justify-content: space-around;
    }

    /* estilo da imagem do escritor*/

    #imageProfileDiv {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: blue;
    }

    /* estilo da Div da bio do escritor*/

    #textInfoDiv {
        background-color: blueviolet;
        width: 200px;
        height: 100px;
        padding: 10px;
    }

    /* estilo da tag do artigo*/

    article {
        margin: 50px;
        height: 200px;
        width: 95%;
        background-color: greenyellow;
        
    }




}
