@charset "UTF-8";

@media screen and (min-width: 992px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    body {
        background-image: radial-gradient(30% 40% at top right, rgb(255, 85, 0),rgba(249, 19, 53, 0.471),bisque);
        background-repeat: no-repeat;

        height: 100vh;
        width: fit-content;
    
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-flow: row-reverse nowrap;
    }

    /* estilo menu */

    menu {
        display: flex;
        flex-flow: column;
        align-items: flex-end;
        justify-content: flex-start;

        width: 20%;
        height: 100%;
        margin-right: 40px;
    }

    /* estilo lista do menu */

    menu ol {
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-start;

        text-align: left;
    }
    menu ol li {
        margin: 5px;
        list-style: none;
    }
    menu ol li a {
        color: black;
        text-decoration: none;
    }
    menu ol li a:hover {
        text-decoration: overline;
        
    }
    .material-symbols-outlined {
        display: none;
        visibility: hidden;
    }

    /* estilo da main */

    main {
        display: flex;
        align-items: center;
        flex-flow: row nowrap;
        justify-content: center;

        width: 80%;
        height: 100vh;
        
    }

     /* estilo da Div das informacoes do escritor */

    #infoDiv {
        width: 30%;
        height: 180px;
        margin-top: 50px;
        margin-left: 10px;
        border-radius: 10px;
        border: 1px solid black;

        display: flex;
        align-items: center;
        flex-flow: row nowrap;
        align-self: flex-start;
        justify-content: space-evenly;
    }

    /* estilo da imagem do escritor*/

    #imageProfileDiv {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: blue;
    }

    /* estilo da Div da bio do escritor*/

    #textInfoDiv {
        display: flex;
        align-self: flex-start;
        flex-flow: column nowrap;
        border: 1px solid black;

        width: 50%;
        height: 100%;
        padding: 5px;
    }

    /* estilo da tag do artigo*/

    article {
        width: 70%;
        height: 90%;
        margin: 20px;
        padding: 20px;
        border-radius: 10px;

        border: 1px solid black;
        overflow-y: scroll;
    }
    #tituloArtigo {
        font-size: 2em;
    }
    article p {
        margin-top: 10px;
        text-indent: 30px;
        text-align: justify;
        font-size: 20px;
    }
}
